html{
	background-image: url('images/background.jpg');
}

a {
  color: black;
  text-decoration: none; 
  font-family: Bookman Old Style; 
}

a:hover {
  text-decoration: none; 
}

img {
	float: left;
}

body{
	background-color: #FFAA00;
	border-style: solid;
	border-width: 5px;
	margin: 20px;
	padding: 20px;
	font-family: Bookman Old Style; 
}

h1 {
	font-size: 30px;
	font-family: Bookman Old Style; 
	float:left;
	position: relative;
}

caption{	font-family: Bookman Old Style; 
}

nav li {
	background-color: white;
}

table {
	background-color: #f2f2f2;
	width: 100%;
}

th {
	float: left;
	margin-top: 10px;
	padding-left: 10px;
}

button {
	background-color: #CE3131;
	margin-left: 10px;
	margin-top: 5px;
	border: none;
	font-size: 14px;
}

#logo{
	vertical-align: middle;
	
}

#outer
{
    width:100%;

}
.inner
{
    display: inline-block;

}

.container div {
	position: relative;
	margin: 0px auto;
}

.buttonList{
	background-color: #CE3131;
	border: black;
	border-style: solid;
	border-width: 2px;
	font-family: Bookman Old Style; 
	width: 175px;
	height:25px;
	color: black;
}